<div>
<section>
<%= gravatar_for @user %>
<%= @user.name %>
<%= @user.email %>
</section>
<div class="stats">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
</div>
<p>
  <% @paintings.each do |painting| %>
  <%= image_tag painting.picture_url %>
  <%= link_to "Edit", paintings_path(painting) %>
  <%= link_to "Delete", painting, method: :delete %>
  <% end %>
  <br>
  <%= link_to "Upload", new_painting_path %>
	<%= link_to "Log out", destroy_user_session_path, method: :delete %>
</p>
</div>