hola usuario
<div>
<section>
<%= gravatar_for @user %>
<%= @user.name %>
<%= @user.email %>
<%= link_to "Edit", edit_user_path(@user) %>
</section>
<div class="stats">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
</div>
<div class="followers">
	<ul>
		<% @followers.each do |follower| %>
		<li><%= follower.name %></li>
		<li><%= follower.email %></li>
		<% end %>
	</ul>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</div>
</div>